doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')
    script(type="text/javascript",data-main='javascripts/main',src='javascripts/require.js')

  body
      nav(class='navbar navbar-inverse navbar-fixed-top')
        div(class='container')
          a(class='navbar-brand') ATG BOWLING
      div(class='container main',style='padding-top:60px;',role='main')
      block content