<script type="text/x-handlebars-template">
    <div class="'panel panel-primary">
        <div class="panel-header">
            <h2>Preparing game</h2>
        </div>
        <div class="panel-body">
            <form role="form" class="form-horizontal">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label for="players_numbers">
                                How many people will play?
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="number" id="playersNumber" name="players_number" id="players_numbers" class="form-control"/>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Waiting for <span id="playersToConnect"><%= playersToConnect %></span> players to connect</h2>
            </div>
        </div>
        <div class="row">
                <ul id="connectedPlayers">

                </ul>
        </div>
    </div>
</script>