<script type="text/x-handlebars-template">
    <div class="'panel panel-primary">
        <div class="panel-header">
            <h2>Preparing game</h2>
        </div>
        <div class="panel-body">
            <form role="form" class="form-horizontal">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label for="players_numbers">
                                How many people will play?
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="number" name="players_numner" id="players_numbers" class="form-control"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>