<script type="text/template" id="home">
    <div clas="container" style='padding-top:60px;' role='main'>
        <div class="panel panel-primary">
            <div class="panel-body">
                <h3 class="text-center">
                    Welcome to ATG BOWLING SCORE TRACKER
                </h3>
                <h3 class="text-center">
                    Please choose role for this device
                </h3>
                <div class="row text-center">
                    <a class='btn btn-primary col-sm-3 col-md-offset-2' href="#display">Display</a>
                    <a class="btn btn-primary col-sm-3 col-sm-12 col-md-offset-1">Client</a>
                </div>
            </div>
        </div>
    </div>
</script>